.header {
  width: 100vw;
  height: 100vh;
  background-color: #4831d4;
}
.header nav {
  height: 100px;
  position: relative;
}
.header nav img {
  position: absolute;
  top: 20px;
  left: 20px;
}
.header nav hr {
  position: absolute;
  transform: rotate(90deg);
  top: 40px;
  background-color: #ccf381;
  width: 47px;
  left: 120px;
}
.header nav span,
.header nav a {
  color: #ccf381;
  font-weight: bold;
  position: absolute;
  font-size: 0.75rem;
  top: 42px;
}
.header nav span {
  left: 165px;
}
.header nav a {
  right: 35px;
}
.header .head {
  width: 301px;
  height: 436px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
.header .head div {
  position: absolute;
}
.header .head .hair {
  width: 218px;
  height: 90px;
  background-color: #ccf381;
  border-radius: 100px 70px 30px 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.header .head .face {
  width: 197px;
  height: 215px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  position: relative;
  border-radius: 5px 0 100px 100px;
  left: calc(50% - 5.5px);
  transform: translate(-50%, 0);
  top: 80px;
  z-index: 2;
}
.header .head .face .eyebrows {
  width: 59px;
  height: 16px;
  background-color: #ccf381;
  top: 37px;
}
.header .head .face .eyebrows.left {
  left: 20px;
  border-radius: 100px 100px 0 100px;
}
.header .head .face .eyebrows.right {
  right: 22px;
  border-radius: 100px 100px 100px 0;
}
.header .head .face .eyes {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  top: 70px;
}
.header .head .face .eyes::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  border: 5px solid #ccf381;
}
.header .head .face .eyes.left {
  left: 39px;
}
.header .head .face .eyes.right {
  right: 52px;
}
.header .head .face .lowerEyelid {
  width: 16px;
  height: 5px;
  background-color: #ccf381;
  top: 96.5px;
}
.header .head .face .lowerEyelid.left {
  left: 40.5px;
}
.header .head .face .lowerEyelid.right {
  right: 44.5px;
}
.header .head .face .nose {
  width: 44px;
  height: 70px;
  border-radius: 0 0 100px 100px;
  background-color: #ffffff;
  border: solid 5px #ccf381;
  border-top: none;
  border-right: none;
  left: 50%;
  transform: translate(-50%, 0);
  top: 53px;
}
.header .head .face .mouth {
  width: 73px;
  height: 15px;
  border-radius: 0 0 100px 5px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  border-top: none;
  border-left: none;
  left: 50%;
  transform: translate(-50%, 0);
  top: 140px;
}
.header .head .ears {
  width: 23px;
  height: 73px;
  border-radius: 100px 0 0 100px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  position: relative;
}
.header .head .ears .line {
  width: 5px;
  height: 27px;
  background-color: #ccf381;
  transform: rotate(-20deg);
  top: 29.3px;
  left: 9.9px;
}
.header .head .ears.left {
  left: 13px;
  top: -90px;
}
.header .head .ears.right {
  transform: rotate(180deg);
  top: -170px;
  left: 244px;
}
.header .head .ears.right .line {
  top: 18.3px;
  transform: rotate(200deg);
}
.header .head .neck {
  width: 107px;
  height: 80px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 5px solid #ccf381;
  top: 295px;
  border-top: none;
  z-index: 1;
}
.header .head .neck.left {
  left: 70px;
  transform: rotate(30deg);
  border-right: none;
}
.header .head .neck.right {
  right: 70px;
  transform: rotate(-30deg);
  border-left: none;
}
.header .head .body {
  width: 301px;
  height: 107px;
  border-radius: 44px 44px 0 0;
  border: 5px solid #ccf381;
  border-bottom: none;
  background-color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}/*# sourceMappingURL=header.css.map */