@import './variables.scss';

.header {
	width: 100vw;
	height: 100vh;
	background-color: $primary-purple;

	nav {
		height: 100px;
		position: relative;

		img {
			position: absolute;
			top: 20px;
			left: 20px;
		}

		hr {
			position: absolute;
			transform: rotate(90deg);
			top: 40px;
			background-color: $primary-green;
			width: 47px;
			left: 120px;
		}

		span,
		a {
			color: $primary-green;
			font-weight: bold;
			position: absolute;
			font-size: .75rem;
			top: 42px;
		}

		span {
			left: 165px;
		}

		a {
			right: 35px;
		}
	}

	.head {
		width: 301px;
		height: 436px;
		position: relative;
		top: 50px;
		left: 50%;
		transform: translate(-50%, 0);

		div {
			position: absolute;
		}

		.hair {
			width: 218px;
			height: 90px;
			background-color: $primary-green;
			border-radius: 100px 70px 30px 0;
			left: 50%;
			transform: translate(-50%, 0);
		}

		.face {
			width: 197px;
			height: 215px;
			background-color: $white;
			border: 5px solid $primary-green;
			position: relative;
			border-radius: 5px 0 100px 100px;
			left: calc(50% - 5.5px);
			transform: translate(-50%, 0);
			top: 80px;
			z-index: 2;

			.eyebrows {
				width: 59px;
				height: 16px;
				background-color: $primary-green;
				top: 37px;
			}

			.eyebrows.left {
				left: 20px;
				border-radius: 100px 100px 0 100px;
			}

			.eyebrows.right {
				right: 22px;
				border-radius: 100px 100px 100px 0;
			}

			.eyes {
				width: 10px;
				height: 10px;
				background-color: $white;
				border: 5px solid $primary-green;
				border-radius: 50%;
				top: 70px;
			}

			.eyes.left {
				left: 39px;
			}

			.eyes.right {
				right: 42px;
			}

			.lowerEyelid {
				width: 16px;
				height: 5px;
				background-color: $primary-green;
				top: 96.5px;
			}

			.lowerEyelid.left {
				left: 40.5px;
			}

			.lowerEyelid.right {
				right: 44.5px;
			}

			.nose {
				width: 44px;
				height: 70px;
				border-radius: 0 0 100px 100px;
				background-color: $white;
				border: solid 5px $primary-green;
				border-top: none;
				border-right: none;
				left: 50%;
				transform: translate(-50%, 0);
				top: 53px;
			}

			.mouth {
				width: 73px;
				height: 15px;
				border-radius: 0 0 100px 5px;
				background-color: $white;
				border: 5px solid $primary-green;
				border-top: none;
				border-left: none;
				left: 50%;
				transform: translate(-50%, 0);
				top: 140px;
			}
		}

		.ears {
			width: 23px;
			height: 73px;
			border-radius: 100px 0 0 100px;
			background-color: $white;
			border: 5px solid $primary-green;
			position: relative;

			.line {
				width: 5px;
				height: 27px;
				background-color: $primary-green;
				transform: rotate(-20deg);
				top: 29.3px;
				left: 9.9px;
			}
		}

		.ears.left {
			left: 13px;
			top: -90px;
		}

		.ears.right {
			transform: rotate(180deg);
			top: -170px;
			left: 244px;

			.line {
				top: 18.3px;
				transform: rotate(200deg);
			}
		}

		.neck {
			width: 107px;
			height: 80px;
			border-radius: 20px;
			background-color: $white;
			border: 5px solid $primary-green;
			top: 295px;
			border-top: none;
			z-index: 1;
		}

		.neck.left {
			left: 70px;
			transform: rotate(30deg);
			border-right: none;
		}

		.neck.right {
			right: 70px;
			transform: rotate(-30deg);
			border-left: none;
		}

		.body {
			width: 301px;
			height: 107px;
			border-radius: 44px 44px 0 0;
			border: 5px solid $primary-green;
			border-bottom: none;
			background-color: $white;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}
