.work {
	height: 100vh;
	overflow: scroll;
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */

	.containerOuter {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		height: 100%;
	}

	button {
		display: none;
	}
}
.work::-webkit-scrollbar {
	display: none;
}
